
.map_data{
    position: relative;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 200ms;
    border-radius: 15px;
    
}

.map_data:hover{
    box-shadow: 
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}